
.explore-background {
    background-image: url(../images/background-explore.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}
.explore-background h1 {
    color: yellow;
}

.exhibition-space-background {
    background-image: url(../images/exhibition-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
.exhibition-space-background h1 {
    color: #1BFF00;
}
.special-background {
    background-image: url(../images/lab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.special-background h1 {
    color: #3500DB ;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex-reverse {
    flex-direction: row-reverse;
}
.img-icon {
width: 170px;
margin: 30px;

}
.icon-p {
    text-align: center;
    width: 60%;
    margin:auto;
}
.img-sections {
    margin: 20px;
    width: 40%;
    box-shadow: 6px 6px 15px 2px #8b8a8a;
}

.clearfix::after {
    clear:both;
    content: "";
    display: table;
}

@media (max-width: 480px) {
    .img-sections {
        margin: 3%;
        padding: 0;
        width: 94%;
    }
    .orange-section,
    .orange-section p {
        background-color:#FFB540 ;
        color: black;
    }
    .green-section,
    .green-section p {
        background-color:#1BFF00 ;
        color: #3500DB;
    }
}