
@font-face {
    font-family: "Papyrus";
    src:url(../fonts/PAPYRUS.TTF) format("truetype");

}

/* BODY */

body {
    margin: 0;
}
.background {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.get-involved-background {
    background-image: url(../images/get-involved-background.jpg);
}
.home-background {
    background-image: url(../images/smsfondo.jpg);
}
.visit-background {
    background-image: url(../images/visit-background.jpg);
}
.explore-background {
    background-image: url(../images/background-explore.png);
}
.exhibition-space-background {
    background-image: url(../images/exhibition-background.jpg);
}
.special-background {
    background-image: url(../images/lab.jpg);
}


/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header,
footer {
    display: flex;
    width: 86%;
    margin: auto;
    background-color: #00F9FF;
    box-shadow: 4px 5px 6px 3px #8b8b8b85;
    border-radius: 3px;
}
.logo {
    font-family: "Papyrus" , Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: bold;
    width: 15%;
    padding-left: 10px;
    font-size: 33px;
}
nav {

    width: 85%;
}
nav ul {
    margin: 116px 10px 2px 5px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
li {
    font-family: "Tahoma", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:inline-block;
}
.current-page {
    text-decoration: underline;
}
.list-home {
    display: none;
}
nav a, a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
}
#hamburger-menu {
    display: none;
}
i.fas.fa-bars {
    display: none;
    
}


/* MAIN */
h1 {
    font-family: "Papyrus", Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 100px;
    margin: 224px 70px 70px 70px;
    text-align: center;
    color: yellow;
    text-shadow: 3px 3px 1px black
}
p {
    font-family: "Tahoma", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: black; 
}
.base-section {
    background-color: yellow;
    margin: 25px 7%;
    box-shadow: 4px 5px 6px 3px #8b8b8b85;
    border-radius: 3px;
    border: 1px solid #001994;

}
.base-section p {
    
    /*color: #001994;*/
    padding: 20px;
}



/* FOOTER */
footer{
    flex-wrap: wrap;
    justify-content: space-around;
}
footer p {
    margin: 10px 25px;
    text-align: center;
}






