header {
    display: flex;
    
}
.logo {
    width: 10%;
}
nav {

    width: 90%;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
    
}
nav a {
    text-decoration: none;
}