
.visit-background {
    background-image: url(../images/visit-background.jpg);
}
.visit-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.location-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location-info,
.hours-info {
    width: 370px;
    
}
.location-info img {
    width: 230px;
    margin-bottom: 20px;
}
.hours-info p,
.location-info p {
    text-align: center;
}
.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex-reverse {
    flex-direction: row-reverse;
}
.img-icon {
    width: 170px;
    margin: 30px;

}
.icon-p {
    text-align: center;
    width: 60%;
    margin:auto;
}